.DS_Store
.idea/
.log.swp
.mer*
.nuget/NuGet.exe
.version
.vs/
.vscode/*
*.d
*.deps
*.la
*.libs
*.lo
*.o
*.orig
*.pc
*.pidb
*.pyc
*.user
*.userprefs
*~
*~
*covcfg.*
*Result.xml
*tar.gz
*test-results.xml
*test-results/
bin
obj